# THIS IS A SAMPLE PARAMS.PY FILE. TO USE:
# 1. Remove .sample
# 2. SNOWFLAKE and OUTPUT_FILE_PATH are stored in site-packages/settings, 
# but can be left in params.py if imports and refernces are changed

# This is intended to be a sample, as committing creds to github is a big nono

market_crosswalk = {
    'Los Angeles' : 'Southern California',
    'Miami':'South Florida',
    'Chicago':'Midwest',
    'Boston':'New England',
    'Atlanta':'Greater Atlanta Area',
    'Philadelphia':'Greater Philadelphia Area',
    'Greater New York': ['New York Metro Area','The Hamptons'],
    'San Diego':'Greater San Diego',
    'San Francisco':'San Francisco Bay Area',
    'Nashville':'Greater Nashville Area',
    'Washington DC': 'Washington, DC Area',
    'Texas':['Greater Dallas','Greater Houston Area','Greater Austin Area'],
    'Seattle':'Greater Seattle Area',
    'Colorado':'Colorado',
    'Hawaii':'Hawaii'
}


cohort_mix_dict = {
    'Total Principal Cohorts': 'all' ,
    '2018 and Prior': ['<','2019-01-01'],
    'Jan 2019 to Aug 2019':[['>','2019-01-01'],['<','2019-09-01']] ,
    'Sept 2019 to Aug 2020':[['>','2019-09-01'],['<','2020-09-01']] 
}


#############THIS SHOULD BE STORED IN SITE-PACKAGES#################

SNOWFLAKE = {
    'usr' :'USERNAME',
    'pwd' : 'PASSWORD',
    'role' : 'ROLE',
    'warehouse_name' : 'WAREHOUSE'
}

output_file_path = 'DESIRED_OUTPUT_PATH'